<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"
          media="all"/>
    <title>Create new File</title>
    <link rel="shortcut icon" th:href="@{/static/images/favicon.ico}"/>
</head>
<body>
<div class="header">
    <div class="container">
        <h1>Create new File</h1>
    </div>
</div>

<div class="content">
    <div class="container">
        <h2>File Details</h2>
        <div>
            <form class="form-horizontal" th:object="${file}" th:action="@{/files/new}" method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label">File Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{fileName}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Upload Date:</label>
                    <div class="col-sm-10">
                        <input type="datetime-local" class="form-control" th:field="*{uploaded}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Metadata 1:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{metaData.metaData1}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Metadata 2:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{metaData.metaData2}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Metadata 3:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{metaData.metaData3}"/>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">&copy; Alex Soft 2017</div>
</div>
</body>
</html>