<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"
	media="all" />
	<title th:text="${file != null} ? 'File with ID: ' + ${file.fileId} + ' update' : 'Wrong File ID!'">
		File with ID: XX
	</title>
<link rel="shortcut icon" th:href="@{/static/images/favicon.ico}" />
</head>
<body>
<header class="header">
		<div class="container" th:if="${file == null}">
			<strong class="header-heading" >No result found!</strong> Please retry with different File ID.
		</div>
		<div class="container" th:if="${file != null}">
			<h1 class="header-heading" th:text="'File with ID: ' + ${file.fileId}">File with ID: XX</h1>
		</div>
</header>
<main class="content">
		<div class="container">
			<div class="main">

				<table th:if="${file != null}">
					<tbody>
						<tr>
							<th>File</th>
						</tr>
						<tr>
							<th>File ID</th>
							<td th:text="${file.fileId}">fileId</td>
						</tr>
						<tr>
							<th>File Name</th>
							<td th:text="${file.fileName}">filename</td>
						</tr>
						<tr>
							<th>Upload Date</th>
							<td th:text="${#dates.format(file.uploaded, 'dd-MMM-yyyy')}">date</td>
						</tr>
						<tr>
							<th>MetaData</th>
						</tr>
						<tr>
							<th>MetaData ID</th>
							<td th:text="${file.metaData.id}">ID</td>
						</tr>
						<tr>
							<th>MetaData 1</th>
							<td th:text="${file.metaData.metaData1}">metaData1</td>
						</tr>
						<tr>
							<th>MetaData 2</th>
							<td th:text="${file.metaData.metaData2}">metaData2</td>
						</tr>
						<tr>
							<th>MetaData 3</th>
							<td th:text="${file.metaData.metaData3}">metaData3</td>
						</tr>
						<tr>
							<th>RESTful Link</th>
							<td><a href="files/33" th:href="${file.id.href}"
								th:text="${file.id.href}">http://localhost:8080/files/XX</a></td>
						</tr>

					</tbody>
				</table>
				<p></p>
				<p>
					<a href="../files" th:href="@{/files}">See list of all Files in
						DB</a>
				</p>
				<p>
					<a href="../" th:href="@{/}">Home</a>
				</p>
			</div>
		</div>
</main>
<footer class="footer">
		<div class="container">&copy; Alex Soft 2017</div>
</footer>
</body>
</html>