<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"
	media="all" />
<title>List of Files in DB</title>
<link rel="shortcut icon" th:href="@{/static/images/favicon.ico}" />
</head>
<body>
	<div class="header">
		<div class="container">
			<h1 class="header-heading">List of Files in DB</h1>
		</div>
	</div>

	<div class="content">
		<div class="container">
			<div class="main">

				<table class="table table-striped">
					<thead>
						<tr>
							<th>File ID</th>
							<th>File Name</th>
							<th>Upload Date</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>

					<tbody th:if="${not #lists.isEmpty(fileList)}">
						<tr th:each="file : ${fileList}">
							<th scope="row" th:text="${file.fileId}">fileId</th>
							<td th:text="${file.fileName}">filename</td>
							<td th:text="${#dates.format(file.uploaded, 'dd-MMM-yyyy')}">dd-MMM-yyyy</td>
							<td><a th:href="${file.id.href}"
								href="http://localhost:8080/files/XX">VIEW</a></td>
							<td><a th:href="@{/files/{fileId}/update(fileId=${file.fileId})}"
								href="http://localhost:8080/files/XX/update">EDIT</a></td>
							<td>
								<form action="#" method="post"
									  th:action="@{/files/{fileId}/delete(fileId=${file.fileId})}">
									<button class="btn" type="submit" id="submitButton">DELETE</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>

				<p>
					<a href="../" th:href="@{/}">Return to home</a>
				</p>
				<p>
					<a href="../" th:href="@{/files/new}">Crate new file with form</a>
				</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">&copy; Alex Soft 2017</div>
	</div>
</body>
</html>